---
import { Image } from 'astro:assets';

import hero from '../../assets/images/hero-bg.jpg';

---
<section class="hero">
  <Image class="hero-image" src={ hero } alt="" />
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;


  // ――――――――――――――――――――――――――――――――――― hero
  .hero {
    width: 100%;
  }
  // ――――――――――――――――――――――――――――――――――― hero-picture
  .hero-image {
    display: block;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / スマホ
  @include sp {

  }
</style>