---
import { Image } from 'astro:assets';
import { content } from '../../config/content';

const { title, items } = content.menu;
---
<section class="section menu" id="menu">
  <div class="inner menu-inner">
    <header class="section-title">
      <h2 class="title">{ title }</h2>
    </header>
    <ul class="list">
      {items.map((item) => (
        <li class="item">
          <div class="img-wrap">
            <Image class="image" src={ item.image } alt={ item.name } />
          </div>
          <div class="body">
            <h3 class="name">{ item.name }</h3>
            {item.price && <p class="price">{ item. price }</p>}
            {item.description && <p class="description">{ item.description }</p>}
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  // ―――――――――――――――――――――――――――――――――――
  .section-title {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .item {
    position: relative;
    display: grid;
    padding: 60px 0;
  }

  .img-wrap,
  .body {
    grid-area: 1 / 1;
  }

  .img-wrap {
    justify-self: end;
    width: clamp(200px, 55vw, 900px);
  }

  .image {
    display: block;
  }

  .body {
    align-self: end;
    padding: 40px 16px 0;
  }

  .name {
    font-weight: 500;
  }

  .price,
  .description {
    display: block;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .description {
    margin-top: 16px;
  }

  @include pc {
    .img-wrap {
      /* justify-self: center;  画像を中央配置にしたい場合 */
    }
  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / スマホ
  @include sp {
    .body {
      padding-top: 160px;
    }
  }
</style>